*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

.header{
    background-color: cornflowerblue;
    height:7vh;
    width:100%;
    padding: 15px;
    color:white;
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    
}



button{
    position:relative;
    height:25px;
    width:25px;
    background-color:transparent;
    border:none;

}

.menu-icon,
.menu-icon::after,
.menu-icon::before{
    position:absolute;
    height: 3px;
    width:20px;
    background-color:white;
    border-radius:2px;
}

.menu-icon::after,
.menu-icon::before{
    content:"";
}

.menu-icon::after{
    transform:translate(-10px,7px);
}

.menu-icon::before{
    transform:translate(-10px,-7px);
}



.layout{
    background-color:cornsilk;
    padding:2px;
    display:grid;
    grid-template-columns:repeat(9,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap:4px;
}


.main{
    grid-column:1/4;
    grid-row:1/4;
    background-color:purple;
    border-radius:0px 8px 8px 0px;
   
}

.aside{
    grid-column:1/4;
    grid-row: 4/6;
    background-color: aqua;
    border-radius:8px;                              
}

.section{
    grid-column:4/10;
    grid-row: 1/6;
    background-color: greenyellow;
    border-radius:8px;
}

.footer{
    display:flex;
    justify-content: center;
    align-content: center;
    color:aliceblue;
    grid-column:1/10;
    grid-row: 6/7;
    background-color:red;
    border-radius:8px;
}

.info{
    color:transparent;
    text-align: center;
    margin-left: 10px;
    position:relative;
    bottom:-10000px;
    top:80%;
    transition: 0.4s;
}

.main:hover .info{
    bottom:0;
    color:white;
}
